.header {
    background-color: $color-white;
    padding: 1.25rem 0;
    @include atMedium {
        padding: 1.25rem 0;
    }
    @include atLarge {
        padding: 1rem 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: none;
        @include atLarge {
            display: inline-block;
        }

        &-img {
            height: 3.125rem;
        }
    }

    &__nav {
        @include atLarge {
            margin: 0 0 0 auto;
            padding-right: 1.5rem;
        }
        @include atExtralarge {
            padding-right: 3.125rem;
        }
    }

    &__btn {
        background: transparent;
        margin: 0;
        padding: 0;
        cursor: pointer;
        @include atLarge {
            display: none;
        }

        &-line {
            height: 3px;
            width: 2.9167rem;
            background-color: $color-gray-drk;
            border-radius: 15px;
            display: block;
            @include atMedium {
                height: 6px;
                border-radius: 2rem;
            }
            @include atLarge {
                height: 4px;
            }

            & + & {
                margin-top: .583rem;
                @include atMedium {
                    margin-top: .5rem;
                }
            }

            &:nth-child(2) {
                width: 2.25rem;
            }

            &:last-child {
                width: 1.833rem;
            }
        }

        &--close {
            position: relative;
            cursor: pointer;
            height: 2.9167rem;
            width: 2.9167rem;
            @include atLarge {
                display: block;
                width: 2rem;
                height: 2rem;
            }

            .header__btn-line {
                width: 2.9167rem;
                position: absolute;
                top: 50%;
                left: 0;
                margin: 0;
                @include atLarge {
                    width: 2rem;
                }

                &:first-child {
                    transform: translateY(-50%) rotate(-45deg);
                }

                &:last-child {
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        &-btn {
            cursor: pointer;
            margin: 0;
            padding: 0;
            background: transparent;
            @include atMedium {
                display: none;
            }

            &-dot {
                display: block;
                background-color: $color-gray-drk;
                height: .55rem;
                width: .55rem;
                border-radius: 1px;

                & + & {
                    margin-top: .5rem;
                }
            }
        }

        &-dropdown {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            transform: translateY(100%);
            background-color: $color-white;
            border-radius: 3px;
            box-shadow: 0px 0px 40px 0px rgba($color-black-full, .2);
            padding: .5rem 0;
            opacity: 0;
            pointer-events: none;
            transition: all .25s;
            @include atMedium {
                display: none !important;
            }

            &-item {
                padding: 1rem 2rem;
                padding-left: 3.333rem;
                text-align: left;
                cursor: pointer;
                position: relative;
                
                p {
                    transition: all .25s;
                    color: $color-gray-drk;
                }

                &--active {
                    p {
                        @extend .u-color-gradient;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 1.5rem;
                        transform: translateY(-50%);
                        background-image: url("../images/i-tick.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        height: 1rem;
                        width: 1rem;
                    }
                }
            }

            &--active {
                bottom: -1.25rem;
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &__swipes {
        background-color: $color-accent;
        border-radius: .5rem;
        padding: .75rem 1.4583rem;
        @include atMedium {
            padding: .5rem 1.333rem;
        }
        @include atLarge {
            padding: .5rem 1rem;
            border-radius: .25rem;
        }

        p {
            @include atLarge {
                font-size: 1.0625rem;
            }
        }
    }

    &__messages {
        display: inline-block;
        position: relative;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 5px;
        border-radius: .5rem;
        border: 1px solid $color-gray-alt-15;
        @include atMedium {
            margin-left: 1.25rem;
            margin-right: 0;
            border: 0;
            padding: 0;
            border-radius: 0;
        }

        &-icon {
            width: 2.083rem;
            @include atMedium {
                width: 2.375rem;
            }
            @include atLarge {
                width: 2.5rem;
            }
        }

        &-notification {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(25%, -25%);
            border-radius: 50%;
            background-color: $color-accent-2;
            height: 1.2rem;
            width: 1.2rem;
            min-height: 1.2rem;
            min-width: 1.2rem;
            border: 2px solid $color-white;
            @include atMedium {
                height: 1.25rem;
                width: 1.25rem;
                border-width: 3px;
                transform: translate(50%, -50%);
            }
        }
    }

    &__profile-img {
        height: 4.167rem;
        width: 4.167rem;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        box-shadow: 0px 15px 30px 0px rgba(222, 222, 222, 0.774);
        @include atMedium {
            height: 3.125rem;
            width: 3.125rem;
        }
    }

    &--white {
        .header {
            &__logo {
                &-img {
                    filter: brightness(0) invert(1);
                }
            }

            &__btn {
                &-line {
                    background-color: $color-white;
                }
            }

            &__messages {
                &-icon {
                    filter: brightness(0) invert(1);
                }
            }
        }

        .nav {
            &__menu {
                &-item {
                    color: $color-white;
                }

                &-link {
                    &:hover {
                        color: $color-primary-drk-2;
                    }
                }
            }
        }
    }

    &--overlay {
        position: absolute;
        z-index: 2;
        background: transparent;
        padding-top: 5.4167rem;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        @include atMedium {
            padding-top: 4.0625rem;
        }
    }
}