html,
body {
    overflow-x: hidden;
    font-size: 9px;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-drk);
    @include atExtrasmall {
        font-size: 2.125vw;
    }
    @include atMedium {
        font-size: 15px;
    }
    @include atLarge {
        font-size: 16px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    transition: all .25s;

    &.main {
        height: 100vh;
        @include atMedium {
            height: auto;
        }
    }

    &.menu-open {
        padding: 7.083rem 0;
        @include atLarge {
            padding: 0;
        }

        .wrapper {
            transform: translateX(65vw);
            @include atLarge {
                transform: none;
            }
        }

        .nav-mobile {
            opacity: 1;
            pointer-events: all;
            position: absolute;
            @include atLarge {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

main {
    flex: 1;
    background-color: $color-white;
    position: relative;
    padding: 2.9167rem 0;
    @include atMedium {
        padding: 2.1875rem 0;
    }
    @include atLarge {
        padding: 3.125rem 0 5rem 0;
    }

    & > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 11.833rem;
        background-image: linear-gradient(to bottom, $color-gray-alt-10, transparent);
        @include atMedium {
            height: 8.875rem;
        }
    }

    &.no-shadow {
        &:before {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

h1 {
    @extend .heading-primary;
}

h2 {
    @extend .heading-secondary;
}

h3 {
    @extend .heading-tertiary;
}

h4 {
    @extend .heading-quaternary;
}

p ,
li{
    @extend .paragraph;
}

a {
    transition: all .25s;
    @include linkStates(inherit, none);

    &:hover {
        color: $color-primary-drk;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

input,
button,
select {
    border: none;

    &:focus,
    &:active {
        box-shadow: none !important;
        outline: none !important;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}