// Color
.u-color {
    &-primary {
        color: $color-primary;
    }

    &-white {
        color: $color-white;
    }

    &-accent {
        color: $color-accent;

        &-2 {
            color: $color-accent-2;
        }
    }

    &-gray {
        &-alt {
            &-2 {
                color: $color-gray-alt-2;
            }

            &-11 {
                color: $color-gray-alt-11;
            }
        }
    }

    &-dark {
        color: $color-dark;

        &-alt {
            color: $color-dark-alt;
        }
    }

    &-gradient {
        background: linear-gradient(to bottom, $color-primary-drk, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


// Font weight
.u-weight {
    &-lgt {
        font-weight: 300;
    }

    &-reg {
        font-weight: 400;
    }

    &-med {
        font-weight: 500;
    }

    &-bld {
        font-weight: 700;
    }
}


// Color
.u-color {
    &-dark {
        &-alt {
            color: $color-dark-alt;
        }
    }

    &-gray {
        &-alt {
            &-5 {
                color: $color-gray-alt-5;
            }
        }
    }
}


// Cursor
.u-cursor {
    &-pointer {
        cursor: pointer;
    }
}


// Text transform
.u-uppercase {
    text-transform: uppercase;
}


// Margin
.u-margin {
    &-bottom {
        &-smallest {
            margin-bottom: 5px;
        }

        &-small {
            margin-bottom: 1.333rem;
            @include atMedium {
                margin-bottom: 1rem;
            }
        }

        &-med {
            margin-bottom: 2.083rem;
            @include atMedium {
                margin-bottom: 1.5625rem;
            }

            &-2 {
                margin-bottom: 3.333rem;
                @include atMedium {
                    margin-bottom: 2.5rem;
                }
            }
        }

        &-big {
            margin-bottom: 5rem;
            @include atMedium {
                margin-bottom: 3.75rem;
            }
        }

        &-huge {
            margin-bottom: 6rem;
            @include atMedium {
                margin-bottom: 4.5rem;
            } 
        }
    }

    &-lg {
        @include atLarge {
            &-bottom {
                &-null {
                    margin-bottom: 0;
                }
            }
        }
    }
}


// Padding
.u-padding {
    &-top {
        &-null {
            padding-top: 0;
        }
    }
}


// Letter spacing
.u-letter {
    &-null {
        letter-spacing: 0;
    }

    &-small {
        letter-spacing: -.5px;
    }
}


// Opacity
.u-opacity {
    &-7 {
        opacity: .7;
    }
}


// Position
.u-position {
    &-relative {
        position: relative;
    }
}


// Alignment
.u-align {
    &-inline {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
             text-align: right;
         }
    }
}


// Line height
.u-lh {
    &-1-25 {
        line-height: 1.25;
    }

    &-1-5 {
        line-height: 1.5;
    }
}