.btn {
    padding: 1.25rem 2.083rem 1.75rem 2.083rem;
    border-radius: 5px;
    font-family: $font-main;
    color: $color-white;
    font-weight: 700;
    font-size: 2.29167rem;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-drk);
    width: 100%;
    display: inline-block;
    letter-spacing: -1px;
    @include linkStates($color-white, none);
    @include atMedium {
        padding: .75rem 1.5625rem 1rem 1.5625rem;
        font-size: 1.71875rem;
    }
    @include atLarge {
        padding: .75rem 1.125rem 1rem 1.125rem;
        font-size: 1.5rem;
    }

    &--border {
        border: 2px solid $color-primary-drk;
        color: $color-primary;
        @extend .u-color-gradient;
    }

    &--small {
        max-width: 22.5rem;
        font-size: 1.5rem;
        @include atMedium {
            max-width: 16.875rem;
            font-size: 1.125rem;
        }
        @include atLarge {
            font-size: 1rem;
        }
    }

    &--inner,
    &--inner-alt {
        padding: 0 2rem 5px 2rem;
        width: auto;
        font-size: 1.333rem;
        @include atMedium {
            padding: 0 1.5rem 5px 1.5rem;
            font-size: 1rem;
        }
    }

    &--inner-alt {
        padding: 1rem 0;
        width: 8rem;
        border: 2px solid $color-primary;
        text-align: center;
        @include atMedium {
            width: 6rem;
            padding: .75rem 0;
        }
        @include atLarge {
            padding: 0;
            width: 5rem;
            font-size: .875rem;
        }
    }
}