.matching-wrapper {
    @include atLarge {
        background-color: $color-gray-alt-7;
    }
}

.matching {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    @include atLarge {
        padding: 3.125rem 0 5rem 0;
        background-image: linear-gradient(to bottom, $color-gray-alt-8, $color-gray-alt-7);
    }

    &__content {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        position: relative;
        @include atLarge {
            box-shadow: 0px 10px 20px 0px rgba($color-black, .06);
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-gray;
        @include atLarge {
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
            background: transparent;
        }

        &-item {
            flex: 1 1 0;
            text-align: center;
            cursor: pointer;
        }

        &-link {
            display: inline-block;
            padding: 3rem 0;
            @include linkStates($color-gray-drk, none);
            @include atMedium {
                padding: 1.5625rem 0;
            }
            @include atLarge {
                padding-top: 0;
                padding-bottom: 1.5625rem;
            }

            &:hover {
                color: $color-primary-drk;
            }

            &--active {
                font-weight: 700;
                @include linkStates($color-primary, none);
                @extend .u-color-gradient;
            }
        }
    }

    &__slider {
        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        height: 530px;
        @include atMedium {
            height: 40.625rem;
        }
        @include atLarge {
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
            height: 38.4375rem;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            overflow: hidden;
        }

        .slick {
            &-list,
            &-track {
                height: 100%;
                flex: 1;
            }
        }

        &-item {
            height: 100%;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        &-controls {
            display: none;
            @include atLarge {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
            }
        }

        &-arrow {
            position: absolute;
            z-index: 1;
            top: 50%;
            cursor: pointer;
            background-color: $color-white;
            border-radius: 5px;
            box-shadow: 0px 0px 20px 0px rgba($color-black-full, .05);
            height: 6.25rem;
            width: 2.8125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            transition: all .25s;

            &-icon {
                transition: all .25s;
                width: 30%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                backface-visibility: hidden;
            }

            &--prev {
                left: -1.875rem;
                transform: translate(-100%, -50%);
                
                .matching__slider-arrow {
                    &-icon {
                        transform: translate(-50%, -50%) scaleX(-1);
                    }
                }
            }

            &--next {
                right: -1.875rem;
                transform: translate(100%, -50%);
            }

            &:hover {
                background-color: $color-primary;

                .matching__slider-arrow-icon {
                    filter: brightness(200%);
                }
            }
        }
    }

    &__profile {
        height: 100%;
        position: relative;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-inner {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include atMedium {
                    background-color: $color-gray-alt-6;
                    display: block;
                    width: auto;
                    left: 50%;
                    transform: translateX(-50%);
                }
                @include atLarge {
                    left: 0;
                    width: 100%;
                    transform: none;
                    background: transparent;
                }
            }

            &-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 30%;
                background-image: linear-gradient(to bottom, $color-black-full 5%, transparent);
                text-align: right;
                padding: 2.083rem 0;
                @include atMedium {
                    background-image: none;
                }
                @include atLarge {
                    padding-top: 1rem;
                }

                &:before {
                    @include atMedium {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -50vw;
                        width: 200vw;
                        height: 100%;
                        pointer-events: none;
                        background-image: linear-gradient(to bottom, rgba($color-black-full, .65) 5%, transparent);
                        transition: all .25s;
                    }
                    @include atLarge {
                        display: none;
                    }
                }

                * {
                    @include atMedium {
                        font-size: 1rem;
                    }
                }
            }

            &-footer {
                position: absolute;
                z-index: 1;
                text-align: right;
                bottom: 3.5rem;
                transform: translateY(-100%);
                left: 0;
                width: 100%;
                padding-bottom: 2rem;
                @include atMedium {
                    bottom: 2rem;
                    padding-bottom: 1.5rem;
                }
                @include atLarge {
                    bottom: 0;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -50vw;
                    width: 150vw;
                    height: 20vh;
                    background-image: linear-gradient(to top, rgba($color-black-full, 1) 5%, transparent);
                    transition: all .25s;
                    @include atMedium {
                        background-image: linear-gradient(to top, rgba($color-black-full, .65) 5%, transparent);
                    }
                    @include atLarge {
                        display: none;
                    }
                }
            }
        }

        &-count {
            display: inline-flex;
            position: relative;
            z-index: 1;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 5rem;
            border: 1px solid $color-white;
            border-radius: 3px;
            background-color: rgba($color-black-full, .2);
            @include atMedium {
                border-width: 2px;
                height: 3.125rem;
                width: 3.125rem;
                border-radius: 8px;
                position: relative;
            }
        }

        &-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            height: 100%;
            background-color: $color-gray-alt-6;
            position: relative;
            @include atMedium {
                background-size: contain;
            }
            @include atLarge {
                background-size: cover;
            }

            &-tag {
                height: 100%;
                width: auto;
                display: block;
                margin: 0 auto;
                display: none !important;
                @include atMedium {
                    display: block !important;
                }
                @include atLarge {
                    display: none !important;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-gray-alt-6;
                pointer-events: none;
                display: none;
                @include atMedium {
                    display: block;
                }
                @include atLarge {
                    display: none;
                }
            }
        }

        &-info {
            background-color: rgba($color-white, .9);
            padding: 2.708rem 0;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            @include atMedium {
                padding: 1.25rem 0;
                background-color: $color-white;
            }
            @include atLarge {
                background-color: rgba($color-white, .9);
                padding: 1rem 0;
            }

            &-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &-message {
            width: 3.333rem;
            cursor: pointer;
            @include atMedium {
                width: 2.5rem;
            }
            @include atLarge {
                width: 1.875rem;
            }
        }
    }

    &__actions {
        background-image: linear-gradient(to top, $color-primary-drk, $color-primary);
        @include atLarge {
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }

        &-inner {
            &-track {
                overflow-x: auto;
                white-space: nowrap;
            }
        }

        &-group {
            display: inline-flex;
            align-items: stretch;
            justify-content: space-between;
            @include atMedium {
                justify-content: space-between;
            }

            & + & {
                margin-left: 10vw;
                @include atLarge {
                    margin-left: 3.333rem;
                }
            }

            &--incomplete {
                justify-content: flex-start;

                .matching__actions-item {
                    & + .matching__actions-item {
                        margin-left: 10vw;
                        @include atLarge {
                            margin-left: 3.333rem;
                        }
                    }
                }
            }
        }

        &-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 2.29167rem 0;
            @include atMedium {
                padding: 1.5rem 0;
            }
            @include atLarge {
                padding: 1rem 0;
            }

            &-icon {
                height: 3.125rem;
                width: auto;
                filter: drop-shadow(0 5px 3px rgba($color-black-full, .2));
                @include atMedium {
                    height: 2.5rem;
                }
                @include atLarge {
                    height: 1.875rem;
                }
            }
        }
    }
}