// Colors
$color-primary: #268cf7;
$color-primary-drk: #1f78d6;
$color-primary-drk-2: #0b4785;

$color-accent: #45e967;
$color-accent-2: #ff2020;

$color-white: #ffffff;

$color-gray: #f1f1f1;
$color-gray-lgt: #f8f8f8;
$color-gray-drk: #9a9b9d;
$color-gray-alt: #c3c3c3;
$color-gray-alt-2: #ababab;
$color-gray-alt-3: #f0f0f0;
$color-gray-alt-4: #f5f5f5;
$color-gray-alt-5: #828282;
$color-gray-alt-6: #b0b0b0;
$color-gray-alt-7: #ededed;
$color-gray-alt-8: #e9e9e9;
$color-gray-alt-9: #eaeaea;
$color-gray-alt-10: #f2f2f2;
$color-gray-alt-11: #7c7e81;
$color-gray-alt-12: #e0e0e0;
$color-gray-alt-13: #f9f9f9;

$color-dark: #272d34;
$color-dark-alt: #5c6167;

$color-black: #0e0e0f;
$color-black-full: #000000;


// Typography
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

$font-main: "Quicksand", "Helvetica", "Arial", sans-serif;